.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 1rem;
}

.item {
  height: 100px;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 8px;
  cursor: pointer;
  @apply border border-dashed border-gray-900/25;
}

img {
  width: 100%;
  height: 100%; /* Set the image height to fill the .item container */
  border-radius: 8px;
  object-fit: cover;
}
